body {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
body ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.starting-page h1 {
    color:rgb(65, 11, 79);
    text-shadow: darkgray 2px 2px 2px;
}
.button {
    display:block;
    width: 200px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(65, 11, 79);
    box-shadow: 5px 5px 2px darkgray;
    border-radius: 3px;
    color: white;
    text-align: center;
}

.button:hover {
    background-color: blueviolet;
}

#start-button {
    width: 150px;
    height: 50px;
    margin: 15px;
    cursor: pointer;
    background-color: darkgray;
    box-shadow: 5px 5px 2px rgb(65, 11, 79);
    border-radius: 3px;
    color: rgb(65, 11, 79);
}

#save-button {
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: darkgray;
    box-shadow: 5px 5px 2px rgb(65, 11, 79);
    border-radius: 3px;
    color: rgb(65, 11, 79);
}

.highscores {
    text-align: center;
    color:rgb(65, 11, 79);
    text-shadow: darkgray 2px 2px 2px;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.highscores-link a {
    text-decoration: none;
    color: black;
}

body a {
    text-decoration: none;
    color: black;
}

#name-input {
    display: block;
    width: 150px;
    height: 25px;
    border: solid 7px black;
}

#result-text {
    color: lightslategray;
    font-style: italic;
}

#hidden-link {
    display: none;
}

.container {
    text-align: center;
}