body {
    font-family: sans-serif;
    font-weight: bold;
}
.starting-page h1 {
    color:rgb(65, 11, 79);
    text-shadow: darkgray 2px 2px 2px;
}
.button {
    display:block;
    width: 200px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(65, 11, 79);
    box-shadow: 5px 5px 2px darkgray;
    border-radius: 3px;
    color: white;
}

.button:hover {
    background-color: blueviolet;
}

#start-button {
    width: 150px;
    height: 50px;
    margin: 15px;
    cursor: pointer;
    background-color: darkgray;
    box-shadow: 5px 5px 2px rgb(65, 11, 79);
    border-radius: 3px;
    color: rgb(65, 11, 79);
}

#save-button {
    display:block;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: darkgray;
    box-shadow: 5px 5px 2px rgb(65, 11, 79);
    border-radius: 3px;
    color: rgb(65, 11, 79);
}

.highscores {
    text-align: center;
    color:rgb(65, 11, 79);
    text-shadow: darkgray 2px 2px 2px;
}