:root {
    --pink: rgb(221, 16, 197);
    --gray: rgb(120, 119, 119);
    --button-shadow: 2px 2px 2px rgb(221, 16, 197);
}

body,
input,
button {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
body ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.starting-page h1 {
    color: var(--pink);
    text-shadow: var(--gray) 2px 2px 2px;
}
.button {
    display:block;
    width: 200px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    background-color: var(--pink);
    box-shadow: 5px 5px 2px var(--gray);
    border-radius: 7px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.button:hover {
    background-color: rgb(228, 137, 213);
}

#start-button {
    width: 150px;
    height: 50px;
    margin: 15px;
    cursor: pointer;
    background-color: var(--gray);
    box-shadow: var(--button-shadow);
    border-radius: 3px;
    color: white;
    font-family: sans-serif;
    font-family: bolder;
}

#save-button {
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: var(--gray);
    box-shadow: var(--button-shadow);
    border-radius: 3px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
}

.highscores {
    text-align: center;
    color: var(--pink);
    text-shadow: var(--gray) 2px 2px 2px;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.highscores-link a {
    text-decoration: none;
    color: black;
}

body a {
    text-decoration: none;
    color: black;
}

#name-input {
    display: block;
    width: 150px;
    height: 25px;
    border: solid 7px black;
}

#result-text {
    color: lightslategray;
    font-style: italic;
}

#hidden-link {
    display: none;
    margin-bottom: 3px;
}

.container {
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items:center;
}